<html lang="en-US"><head>
    <meta charset="UTF-8">

<title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="/assets/css/style.css?v=37629cf34105b435c3dc48d4e22617807e89891c">
<link rel="manifest" href="/manifest.json">
	<link rel="shortcut icon" type="image/x-icon" href="files/images/favicon.ico">
    {% if page.headScripts And page.headScripts != "" And page.headScripts != nil %}
    {% for item in page.headScripts %}
        <script src="{{ item }}"></script>
    {% endfor %}
    {% endif %}
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">smileycreations15.com</h1>
      <h2 class="project-tagline">A website on GitHub Pages</h2>
      
      <a href="https://github.com/smileycreations15" id="myProfile" class="btn">My Github Profile</a>
	    <a href="https://github.com/smileycreations15" id="pwaProfile" target="_blank" style="display:none" class="btn">My Github Profile</a>
	  </section>
    <section class="main-content">
    {{ content }}
    {% if page.html And page.html != "" And page.html != nil %}
        {% include {{ page.html }} %}
    {% endif %}
	        {% if page.scripts And page.scripts != "" And page.scripts != nil %}
    	{% for item1 in page.scripts %}
    	    <script style="display:none" src="{{ item1 }}"></script>
    	{% endfor %}
    	{% endif %}
	    <script style="display:none" src="https://smileycreations15.com/files/javascript/init.js"></script>
      <footer class="site-footer">
        
	      <span class="site-footer-credits">This site is <a href="https://github.com/smileycreations15/smileycreations15.github.io/">open source</a>. Modified from the Cayman theme.</span>
      </footer>
    </section>

    
  

</body></html>
