<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <script>
	if ("serviceWorker" in navigator) {
            if (navigator.serviceWorker.controller) {
                console.log("[PWA Builder] active service worker found");
	    }
            navigator.serviceWorker
                .register("service-worker.js", {
                    scope: "./"
                })
                .then(function(reg) {
                    console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
                })
	}
    </script>
		    <link rel="stylesheet" href="/files/css/style.css" media="bogus">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/x-icon" href="/files/images/favicon.ico">
    <!--
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/files/images/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
	-->
    {% if page.headScripts And page.headScripts != "" And page.headScripts != nil %} {% for item in page.headScripts %}
    <script src="{{ item }}"></script>
    {% endfor %} {% endif %} {% if page.title And page.title != "" And page.title != nil %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>smileycreations15</title>
    {% endif %} {% if page.desc And page.desc != "" And page.desc != nil %}
    <meta name="description" content="{{ page.desc }}"> {% else %}
    <meta name="description" content="A website on GitHub Pages."> {% endif %}
</head>

<body>
    <section class="page-header">
        <h1 class="project-name">smileycreations15.com</h1>
        <h2 class="project-tagline">A website on GitHub Pages</h2>

        <a href="https://github.com/smileycreations15" id="myProfile" rel="noopener noreferrer" class="btn">My Github Profile</a>
        {% if page.noScriptWarning And page.noScriptWarning != "" And page.noScriptWarning != nil %} {% if page.noScriptWarning != true %}
        <noscript>
            <h2>JavaScript Required</h2>
            <p>Please enable JavaScript for the website to function.</p>
        </noscript>
        {% endif %} {% else %}
        <noscript>
            <h2>JavaScript Required</h2>
            <p>Please enable JavaScript for the website to function.</p>
        </noscript>
        {% endif %}
    </section>
    <section class="main-content" id="main-content-body">
        {{ content }} {% if page.html And page.html != "" And page.html != nil %} {% include {{ page.html }} %} {% endif %}
        <footer class="site-footer">

            <span class="site-footer-credits">This site is <a id="openSource" href="https://github.com/smileycreations15/smileycreations15.github.io/" rel="noreferrer noopener">open source</a>. Modified from the Cayman theme.</span>
        </footer>
    </section>
	        <script async style="display:none" src="/files/javascript/init.min.js"></script>

{% if page.scripts And page.scripts != "" And page.scripts != nil %} {% for item1 in page.scripts %}
        <script style="display:none" src="{{ item1 }}"></script>
        {% endfor %} {% endif %}
	{% if page.asyncScripts And page.asyncScripts != "" And page.asyncScripts != nil %} {% for item12 in page.asyncScripts %}
        <script async style="display:none" src="{{ item12 }}"></script>
        {% endfor %} {% endif %}
	<link rel="stylesheet" href="/files/css/style.css">
	    <!-- css override -->
	<style>
        .site-footer-credits {
            color: #606c71;
        }
    </style>
</body>

</html>
